
h5 {
  font-size: 24px;
    background: linear-gradient(var(--primary), #2372b3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.line{
  width: 80%;
}