.ctn-tittle h3{
  color: var(--primary);
  font-weight: bold;
}

   .tuition  .separator{
     color: var(--primary);
   }
   .tuition .button{
       position: relative;
       
       position: relative;
       border: none;
       background-color: transparent;
       cursor: pointer;
       outline: none;
       font-size: 18px;
       margin: 1em 0.8em;
       color: var(--primary);
       width: 100px;
       border-radius: 5px;
       padding: 4px;
     }
     .tuition .button i{
       width: 100%;
       display: none;
     }
   
     .tuition .button.active{
       border-bottom: 2px solid var(--yel);
       border-top: 2px solid var(--yel);
     }
   
     .tuition .button.active i{
       transform: rotate(200grad);
       display: block;
     }
     
     
         
         [data-content] {
             display: none;
         }
         
         .active[data-content] {
             display: block;
         }
     
         .active[data-target] {
             color: var(--yel);
         }
   
       @media  (max-width: 991px) {
           .tuition .button{
               font-size: 12px;
               margin: 1em 0.8em;
             }
             .ctn-btn a{
              font-size: 12px;
             }
       }
       

       .ctn-btn a{
        display: block;
        text-decoration: none;
        width: 100%;
        border-radius: 100px;
        padding: 10px 0px;
        font-weight: bold;
        border-color: var(--primary);
        color: #fff;
        box-shadow: 0 0 40px 40px var(--primary) inset, 0 0 0 0 var(--primary);
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }

      .ctn-btn li{
        list-style: none;
        width: 100%;
        text-align: center;
      }

      .ctn-btn li a:hover{
        color: var(--primary);
        display: block;
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
       
        
      }

      